server:
  port: 7074

spring:
  application:
    name: CONFIG-SERVER


  cloud:
    config:
      server:
        git:
          uri: https://github.com/vipinwebdev/microservice-config-server.git
          clone-on-start: true